<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="mashapeKey" value="sSBP29CDyYmsh0q0kRjSkfArmGfQp1gL9RujsniegbbYSXn8rm"/>
    <add key="RestCountriesAPI" value="https://restcountries.p.mashape.com/alpha/"/>
    <add key="Pipl" value="https://community-pipl.p.mashape.com/name/v2/json/"/>
    <add key="Fbprofile" value="https://face-book.p.mashape.com/index.php"/>
  </appSettings>
</configuration>